# readalongs>=0.2.20220126

# The new readalongs.api API has just been added here:
 -e git+https://github.com/ReadAlongs/Studio.git@8410136dc129c89d5e913ee0bfe9da81eb21f4dc#egg=readalongs

qtpy==1.11.2
